.card {
    display: flex;
    align-items: flex-start;
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-image {
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.card-dtls {
    width: 70%;
}

.card-title {
    color: #f68d36;
    font-family: 'Aboreto', cursive;
}

.card-dtls {
    font-family: 'Kalam', cursive;
}

.card-btns {
    background-color: #007bff;
    padding: 10px 15px 10px 15px;
    color: white;
    border: 0;
}