.card {
  display: flex;
  align-items: flex-start;
  width: 90%;
  box-sizing: border-box;
  padding: 10px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
}

.card-dtls {
  width: 70%;
  font-family: 'Kalam', cursive;
}

.card-title {
  color: #f68d36;
  font-family: 'Aboreto', cursive;
}

.card-btn-1 {
  background-color: #007bff;
  padding: 10px 15px 10px 15px;
  color: white;
  border: 0;
}

.card-btn-2 {
  background-color: white;
  color: #999ea4;
  border: 2px solid #999ea4;
  padding: 10px 15px 10px 15px;
}

.card-reserve {
  background-color: #18a2b8;
  color: azure;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
